name: Generate pacman animation

on:
  schedule: # execute every 12 hours
    - cron: "* */12 * * *"

  workflow_dispatch:

  push:
    branches:
    - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 2

    steps:
      - name: generate-snake-game-from-github-contribution-grid
        uses: Platane/snk@a69d1dbca7a94c2ef0edf10dcd9e19982d74dd39
        with:
          github_user_name: ${{ github.repository_owner }}

      - name: GitHub Pages
        uses: crazy-max/ghaction-github-pages@v4.2.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
